.videoContainer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index:-9999;
}
.videoContainer_in {
	position: fixed;
	right: 0;
	bottom: 0;
	background-color:#000;
	opacity:0.7;
	z-index:-9998;
	min-width: 100%;
	min-height: 100%;
}
.videoFondo {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index:-9999;
	min-width: 100%;
	min-height: 100%;
}

.h100 {
	height:100px;
	min-height:100px;
}
body {
  background-color:#ffffff;
  font-family:Arial;
}
.bg-navbarmp {
	background-color:#4f4f4f;
	opacity:0.9;
}
.checked {
  color: orange;
}
.cminiatura {
  border-radius: 10px;
  border:1pt solid #17A2B8;
  margin-right:10px;
  float:left;
}

.cremoverFoto {
	filter: brightness(30%); 
}

/*.cnavbar-usuario {
	display:none;
}*/
.cstatus {
	position:fixed;
	bottom:10px;
	right:10px;
}
.col_accion {
	text-align:right;
}
.mt-70 {
	margin-top:70px;
}
.mt-50 {
	margin-top:120px;
}
.cnovisible {
	display:none;
}
.o-hidden {
  overflow: hidden !important;
}
td.col_valor {
	opacity: .4; 	
}

.breadcrumb {
	background-color:transparent;	
}
.breadcrumb a {
	color:#17A2B8;
}
.cresaltar {
	background-color:#E30B50;
	color:#fff;
}

.crestringido {
	background-color:#3f3f3f;
	cursor:pointer;
	color:#7f7f7f;
}
.crestringido:hover {
	background-color:#3f3f3f;
	color:#7f7f7f;
}


 /* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
.ng-enter       { z-index: 9998; }
.ng-leave       { z-index: 9999; }

@media only screen and (max-width: 600px) {
	.cnavbarMobile {
		display: block;
	}
	.cnavbarWide {
		display: none;
	}
}
@media only screen and (min-width: 600px) {
	.cnavbarMobile {
		display: none;
	}
	.cnavbarWide {
		display: block;
	}
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/*background-color: #F4F1EA;
		  color: #5f613a;*/
	padding:10px;
	z-index:9999;
}