.cmenuPrincipal .card-body-right .card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    color:#17A2B8;
    opacity:0.4;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  .cmenuPrincipal .card-body-right .card-body-icon.card-body-icon-warning {
      color:#faba66;
  }
  
  .cmenuPrincipal .card-body-left .card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    left: -25px;
    font-size: 5rem;
    color:#17A2B8;
    opacity:0.4;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);	
  }
  .cmenuPrincipal .card-body-left .calerta {
      position:absolute;
      right:10px;
      top:10px;
      font-size:1.5rem;	
  }
  
  .cmenuPrincipal .card-body-right .calerta {
      position:absolute;
      left:10px;
      top:10px;
      font-size:1.5rem;	
  }
  
  .cmenuPrincipal .card-title, .card-text {
      position:relative;
      /*z-index:99999;*/
  }
  .cmenuPrincipal .card {
      /* background-color:#515151; */
      background-color:#242424;
      cursor: pointer;
      position: relative;
  }
  .cmenuPrincipal .card::after {
    content: "";
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    border: 5px solid #E30B50;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.cmenuPrincipal .card:hover::after {
    display: block;
    animation: borderBlock .4s ease-in-out;
    top: -25%;
    left: -10%;
    width: 120%;
    height: 150%;
}
@keyframes borderBlock {
    0% {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }
    100% {
        top: -25%;
        left: -10%;
        width: 120%;
        height: 150%;
    }
}
.cmenuPrincipal .card:hover {
    /* background-color:#E30B50; */
    background-color:#E30B50;
    color:#fff;
}
.customHidden {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}